body{
    background-color:  #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, monospace;
    margin: 0;
}

.app-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
