.auth-box {
  background: #1e1e1e;
  padding: 30px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.auth-box h1 {
  text-align: center;
  margin-bottom: 10px;
}

.auth-box h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  color: #aaa;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  outline: none;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
}

.auth-buttons button {
  width: 48%;
  padding: 10px;
  background: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background: #333;
}
