.notes-container {
  width: 500px;
  background: #1e1e1e;
  padding: 100px ;
  border-radius: 10px;
}

.notes-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.notes-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px ;
}

.notes-input input {
  flex: 1;
  padding: 100px;
  border-radius: 6px;
  border: none;
}

.notes-input button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.note-textarea {
  width: 100%;
  min-height: 320px;   /* controls height */
  resize: vertical;   /* user can resize */
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background: #2a2a2a;
  color: white;
}
.note-item {
  background: #2a2a2a;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}
